$accentColor: #007C21;
$mainColor: #323232;

$gutter: 10px;

* {
    box-sizing: border-box;
    padding: 0;
	margin: 0;
	border: 0;
}
html, body {
	height: 100%;
}
body {
	font-size: 16px;
	min-width: 350px;
	position: relative;
	font-family: Arial, sans-serif;
	line-height: 1.75;
	overflow-x: hidden;
}
.button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 3.5;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	width: 200px;
	background-color: $accentColor;
	border-radius: 2px;
	border-bottom: 5px solid #175D2A;
	&:link, &:visited, &:active {
		background-color: $accentColor;
		border-bottom: 5px solid #175D2A;
	}
	&:hover {
		background-color: #175D2A;
		border-bottom: 5px solid #005115;
	}
}
.container {
	display: grid;
	max-width: 1200px;
	margin: auto;
	padding: 0 $gutter;
}
.landing-section {
	padding: 80px 0;
	h2 {
		font-size: 34px;
		font-weight: 800;
		color: $mainColor;
		line-height: 1.2;
	}
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: none;
	padding: 15px 20px;
	width: 100%;
	font-family: Arial, sans-serif;
	font-style: italic;
	background-color: #999;
	transition: background-color .25s ease;
	&:focus {
		background-color: #fff;
	}
}