.header {
	display: grid;
	background-image: url(../../images/header_background.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
	align-content: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $mainColor;
		opacity: 0.8;
	}
	.header_content {
		display: grid;
		z-index: 1;
		color: #fff;
		text-align: center;
		padding: 60px $gutter;
		h1 {
			font-size: 50px;
			margin: 20px 0;
			line-height: 1.5;
		}
		.header_buttons {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto;
			grid-gap: $gutter;
			.button-left {
				justify-self: end;
			}
			.button-right {
				justify-self: start;
			}
		}
	}
	.slideshow-wrap {
		position: relative;
		z-index: 2;
		.mySlides {
			width: 1200px;
			height: 400px;
			margin: auto;
			background-size: cover;
			background-position: center;
			position: absolute;
			left: 0;
		}
		.slideshow-container {
			position: relative;
			margin: auto;
			width: 1200px;
			height: 400px;
			.prev, .next {
				z-index: 10;
				cursor: pointer;
				position: absolute;
				top: 50%;
				width: auto;
				padding: 16px;
				margin-top: -40px;
				color: white;
				font-weight: bold;
				font-size: 18px;
				transition: 0.6s ease;
				border-radius: 0 3px 3px 0;
				user-select: none;
				background-color: rgba(0, 0, 0, 0.5);
			}
			.prev {
				left: 0px;
				border-radius: 0 3px 3px 0;
			}
			.next {
				right: 0px;
				border-radius: 3px 0 0 3px;
			}
			.prev:hover, .next:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}
			.text {
				color: #f2f2f2;
				font-size: 15px;
				padding: 8px 12px;
				position: absolute;
				bottom: 8px;
				width: 100%;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.5);
			}
			.numbertext {
				color: #f2f2f2;
				font-size: 12px;
				padding: 8px 12px;
				position: absolute;
				top: 0;
				background-color: rgba(0, 0, 0, 0.5);
			}
			.fade {
				-webkit-animation-name: fade;
				-webkit-animation-duration: 1.5s;
				animation-name: fade;
				animation-duration: 1.5s;
			}
			@-webkit-keyframes fade {
				from {opacity: 0.4;} 
				to {opacity: 1;}
			}

			@keyframes fade {
				from {opacity: 0.4;} 
				to {opacity: 1;}
			}
			.caption-one {
				background-image: url(../../images/5.jpg);	
			}
			.caption-two {
				background-image: url(../../images/3.jpg);	
			}
			.caption-three {
				background-image: url(../../images/2.jpg);
			}
		}
		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #fff;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}
		.active, .dot:hover {
			background-color: #000;
		}
	}
}
